.nav-bar {
	display: flex;
	justify-content: center;
}

.nav-list {
	display: flex;
	list-style-type: none;
	justify-self: center;
}

.btn-container {
	border: 1px solid;
	border-radius: 100px;
	justify-content: center;
}
